profiles {

  metagenomic {

    params {
      inputPath = "$baseDir/data/localFiles"
      downloadMethod = "local"
      resultDir = "$baseDir/results"
      libraryLayout = "paired"
      //humann
      kneaddataCommand = "kneaddata --trimmomatic /usr/share/java -db /kneaddata_databases/hg37dec -db /kneaddata_databases/Pig --bypass-trf"
      // Keep mateIDs as string True
      mateIds_are_equal = "True"
      query_mate_separator = "."
      humannCommand = "humann --diamond-options \"--block-size 1.0 --top 1 --outfmt 6\""
      unirefXX = "uniref90"
      functionalUnits = ["level4ec"]

      //corral
      alignmentStatsCommand = "samtools stats"
      databaseRootName = "refdb"
      markerToTaxonPath = "$launchDir/data/marker-to-taxon-id.tsv"
      bowtie2Command = "bowtie2 --omit-sec-seq --no-discordant --no-unal -a"
      summarizeAlignmentsCommand = 'marker_alignments --min-read-query-length 60 --min-taxon-num-markers 2 --min-taxon-num-reads 2 --min-taxon-better-marker-cluster-averages-ratio 1.01 --threshold-avg-match-identity-to-call-known-taxon 0.97  --threshold-num-taxa-to-call-unknown-taxon 100000 --threshold-num-markers-to-call-unknown-taxon 100000     --threshold-num-reads-to-call-unknown-taxon 100000'
      summaryFormat = "matrix"
      summaryColumn = "cpm"
    }
      
    docker {
      enabled = true
      runOptions = "-v /home/rdemko/workspace/djob/humann/data/databases/:/humann_databases -v /home/rdemko/workspace/djob/humann/data/kneaddata/:/kneaddata_databases/ -v /home/rdemko/workspace/djob/humann/data/meta31/:/usr/local/lib/python3.8/dist-packages/metaphlan/metaphlan_databases -v /home/rdemko/workspace/djob/CORRAL/data/database/:/corralDatabase/"
    }
  }

  markergeneanalysis {

    params {
      studyIdFile= "$launchDir/data/SRAIDS.tsv"
      platform = "illumina"
      isPaired = true
      trimLeft = 0
      trimLeftR = 0
      truncLen = 0
      truncLenR = 0
      maxLen = 1000
      mergeTechReps = false
      trainingSet = "$launchDir/data/exampleTrainingSet.fa"
      speciesAssignment = "$launchDir/data/exampleAssignment.fa"
      outputDir = "$launchDir/output"
      nValue = 1e+02
    }

    docker {
      enabled = true
      runOptions = "-v /home/rdemko/workspace/djob/humann/data/databases/:/humann_databases -v /home/rdemko/workspace/djob/humann/data/kneaddata/:/kneaddata_databases/ -v /home/rdemko/workspace/djob/humann/data/meta31/:/usr/local/lib/python3.8/dist-packages/metaphlan/metaphlan_databases -v /home/rdemko/workspace/djob/CORRAL/data/database/:/corralDatabase/"
    }

  }

}